/* Estilos generales para la tabla */
table {
    border-collapse: collapse;
    width: 50%;  
    margin: 20px auto;  
    font-family: Arial, sans-serif;  
    color: #3E5D8E;
    font-weight: bold;
}

/* Estilo para los encabezados */
table thead th {
    padding: 2px 10px;
    text-align: center;  
    border: 3px solid #3E5D8E;  
}
/* Estilo para las celdas del cuerpo de la tabla */
table tbody td {
    border: 3px solid #3E5D8E;  
    padding: 2px 10px;
}

/* Estilo para la primera columna de celdas para que tenga un ancho fijo */
table td:first-child {
    width: 150px;  
}
